/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Oct, 2015, 3:41:31 PM
    Author     : ankit
*/
@import url(https://fonts.googleapis.com/css?family=Righteous);
body{
   font-family: 'Raleway';
}
.gap-50{
    min-height: 50px;
}
.gap-70{
    min-height: 70px;
}
.gap-100{
    min-height: 100px;
}
.navbar-default {
      background-color: whitesmoke;
     border-color: transparent;  
    
}
.navbar-fixed-top{
     border-top: 5px solid  #4EAF31;
     background-color: white;
         min-height: 75px;
}
.nav{
 font-family: monospace;   
}

.navbar-brand{
   
    font-family: 'Righteous', cursive;
   
    font-size: 35px;
   color: #4EAF31;
}
 .navbar-brand:hover{
    
    font-family: 'Righteous', cursive;
   
    
   color: #4EAF31;
}
 .top-well {
    min-height: 05px;
    padding: 0px;
    margin-bottom: 20px;
    background-color: #4EAF31;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.05); */
}

.home-hader-text{
font-family: 'Raleway';
}

.home-vertical .fa{
    color: white;
}
.home-vertical{
    background: rgb(78, 175, 49);
    color:white;
    min-height: 100px;
}
.footer{
    
    background:  #4EAF31;
    color:white; 
   
}
.panel-body{
    font-family: fantasy;
    
}

.carousel-caption {
    right: 40%;
    left: 1%;
    top:10px;
    padding-bottom: 0px;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}
.page-header-custom{
        padding-bottom: 9px;
    
   
 
}
.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    color: #000;
}